body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: rgb(24, 24, 59);
}

nav {

    font-size: 28px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}



nav li {
    display: inline-block;
    margin: 0 8px;

}

nav a {
    text-decoration: none;
    color: white;
    
}

.logo {
    font-size: 36px;
    font-weight: bolder;
    transition: 2s;
}





nav a:hover {
    color: blue;
    font-size: 27px;
}



.n-btn1 {
    background: none;
    color: white;
    border: none;
    cursor: pointer;

}

.n-btn1:hover {
    font-size: 15px;

}


.n-btn2 {
    background-color: blue;
    color: white;
    cursor: pointer;


}

.n-btn2:hover {
    font-size: 15px;

}


.menu-line {
    height: 3px;
    width: 20px;
    background-color: rgb(238, 238, 241);
    margin-bottom: 3px;
}

.menu {
    cursor: pointer;
    display: none;
}

@media all and (max-width:640px) {
    nav {
        flex-direction: column;
    }

    nav .logo{
        margin-right: 5px;
        margin-top: 5px;
    }

    nav li {
        display: block;
        padding: 10px 0;
    }

    ul {
        text-align: center;
        padding: 0;
        display: none;
    }




    .menu {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
        
    }

    .showmenu {
        display: block;
    }

}


/* content */

.content {
    text-align: center;
    justify-content: center;
    color: white;
    margin-top: 5%;
}

.content h5 {
    color: blue;
    padding: 5px 10px;
    cursor: pointer;
}

.content .para1 {
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    font-size: 25px;
    letter-spacing: 1px;

}

.content .para2 {
    letter-spacing: 1px;


}

.btn {
    margin: 10px 5px;
    padding: 10px;
}

.btn .btn1 {
    color: white;
    background-color: blue;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;


}

.btn .btn2 {
    background-color: rgb(24, 24, 59);
    color: blue;
    font-weight: bold;
    border: 1px solid blue;
    padding: 10px 10px;
    margin-left: 5px;
    border-radius : 5px;


}

.btn .btn1:hover {
    border-radius: 6px;
    padding: 10px 15px;
}

.btn .btn2:hover {
    border-radius: 6px;
    padding: 10px 15px;
}







.box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px;

}


@media All and (max-width:640px) {
    .box {
        display: grid;
        align-items: center;
        justify-content: center;
        margin-top: 30px;

    }

}



.box .box1 {

    background-color: white;
    margin: 10px;
    width: 300px;

}

.box .box1:hover {
    width: 320px;
    transition: 2s;
}

.box .box1 i {
    margin-left: 25%;
    margin-top: 25px;
    font-size: 25px;
    text-align: center;
    justify-content: center;
}

.box .box1 h3 {

    margin-top: 10px;
    padding: 5px 20px;
}

.box .box1 p {
    padding: 10px;
}



.box .box2 {
    background-color: white;
    margin: 10px;
    width: 300px;
    overflow: hidden;
}

.box .box2:hover {
    width: 320px;
    transition: 2s;
}


.box .box2 i {
    margin-left: 25%;
    margin-top: 25px;
    font-size: 25px;
    text-align: center;
    justify-content: center;
}

.box .box2 h3 {
    margin-top: 10px;
    padding: 5px 20px;
}

.box .box2 p {
    padding: 10px;
}




.box .box3 {
    background-color: white;
    margin: 10px;
    width: 300px;
    overflow: hidden;
}

.box .box3:hover {
    width: 320px;
    transition: 2s;
}


.box .box3 i {
    margin-left: 25%;
    margin-top: 25px;
    font-size: 25px;
    text-align: center;
    justify-content: center;
}

.box .box3 h3 {
    margin-top: 10px;
    padding: 5px 20px;
}

.box .box3 p {
    padding: 10px;
}
